@model ShopThoiTrang.Models.UserLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>َĐăng nhập admin</title>
    <style>
        a {
            text-decoration: none
        }

        .box {
            width: 300px;
            padding: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: #191919;
            text-align: center;
        }

            .box h1 {
                color: white;
                text-transform: uppercase;
                font-weight: 500;
            }

            .box input[type = "text"], .box input[type = "password"] {
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 2px solid #3498db;
                padding: 14px 10px;
                width: 200px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25s;
            }

                .box input[type = "text"]:focus, .box input[type = "password"]:focus {
                    width: 280px;
                    border-color: #2ecc71;
                }

            .box input[type = "submit"] {
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 2px solid #2ecc71;
                padding: 14px 40px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25s;
                cursor: pointer;
            }
        .chucnang a{
            color:#fff;
        }
        .chucnang a:hover{
            color: #ddd;
        }

        .box input[type = "submit"]:hover {
            background: #2ecc71;
        }

    </style>
</head>
<body>

    @if (Session["loginadmin"] == null)
    {
        <style>
            body {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                background: #34495e;
            }
        </style>
        <form class="box" action="#" method="post">
            <h1>Đăng nhập admin</h1>
            <input type="text" name="email" placeholder="Nhập email">
            <input type="password" name="pass" placeholder="Nhập mật khẩu">
            <input type="submit" name="" value="Login">
        </form>
    }
    else
    {
<div style="background: #12225b; text-align:center; height:50px; line-height:50px;">
    <span style="font-weight:700; font-size:20px; color:#f00" class="chucnang">
        @Html.ActionLink("Quản lý sản phẩm", "QuanLySanPham", "Admin") </span>
        <span style="font-weight:700; font-size:20px; margin-left:50px;" class="chucnang">
    @Html.ActionLink("Quản lý loại sảm phẩm", "QuanLyLoaiSanPham", "Admin")</span>
</div>
        
    }


</body>
</html>
