<style>
    td, th{
        padding:5px;
        border: solid 1px #999;
    }
    th{
        background: #cdf;
    }
</style>
<h1>
    LazyTeam - Ngập hành deadline
</h1>
<table>
    <thead>
        <tr>
            <th>Mã SV</th>
            <th>Họ tên</th>
            <th>Năm sinh</th>
            <th>Nhiệm vụ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DTCXXXXXXXXXXXXX</td>
            <td>Vũ Sinh Huy</td>
            <td>DD/MM/YYYY</td>
            <td>Xây dựng cơ sở dữ liệu, thành phần thao tác với dữ liệu</td>
        </tr>
        <tr>
            <td>DTC17H524802010227</td>
            <td>Tẩn Cù Chản</td>
            <td>16/07/1999</td>
            <td>Xây dựng chức năng giỏ hàng</td>
        </tr>
        <tr>
            <td>DTCXXXXXXXXXXXXX</td>
            <td>Bùi Minh Hiền</td>
            <td>DD/MM/YYYY</td>
            <td>Xây dựng chức năng quản lý thông tin sản phẩm.</td>
        </tr>
        <tr>
            <td>DTCXXXXXXXXXXXXX</td>
            <td>Nguyễn Công Minh</td>
            <td>DD/MM/YYYY</td>
            <td>Xây dựng chức năng quản lý thông tin thể loại sản phẩm.</td>
        </tr>
        <tr>
            <td>DTCXXXXXXXXXXXXX</td>
            <td>Hoàng Văn Cảnh</td>
            <td>DD/MM/YYYY</td>
            <td>Xây dựng thành phần giao diện</td>
        </tr>

    </tbody>
</table>